.container-items {
    min-height: 50vh;
}

.character-img {
    height: 150px;
    transition: all 300ms;
}

.character-img-info {
    height: 230px;
}

.animate__animated:hover .character-img {
    filter: brightness(40%);
}

.animate__animated:hover .button-char {
    opacity: 1;
}

.button-char {
    top: -50px;
    opacity: 0;
}

.div-character {
    min-height: 60vh;
}